.linkStyle {
    text-decoration: none;
    color: #000000;
    /* padding-right: 15px; */
}

.activeLink {
    border: 1px solid black;
    border-radius: 14px;
    padding: 4px;
}

@media screen and (max-width: 768px) {
    .linkStyle {
        padding-bottom: 20px;
    }
}