.isntThisContainer {
    margin: 40px 0;
}

.sectionContainer {
    background-color: #161616;
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 1312px;
    height: auto;
}

.paragraphContainer {
    color: white;
    font-size: 32;
}

.imgAndButtonContainer {
    display: flex;
    
    align-items: center;
    position: relative; /* Permite o posicionamento absoluto dentro desta div */
}

.imgStyle {
    height: 195px;
    width: 261px;
}

.linkStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado */

    background-color: #425B41;
    color: white;
    font-size: x-large;
    font-family: "Josefin Sans", sans-serif;

    border: none;
    border-radius: 14px;

    cursor: pointer;
    transition: background-color 0.3s ease;

    width: 238px;
    height: 52px;

    position: absolute; /* Faz o botão "flutuar" */
    left: 70%;
}

@media screen and (max-width: 768px) {
    .isntThisContainer {
        margin: 0;
    }

    .sectionContainer {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
    }

    .paragraphContainer {
        text-align: center;
        padding-bottom: 10px;
    }

    .imgStyle {
        height: 359px;
        width: 440px;
    }

    .linkStyle {
        left: 20%;
    }
}
