.navigationContainer {
    padding: 10px 0;
}

.firstsAnchors {
    text-decoration: none;
    color: #777;
    font-weight: 800;
}

.navigationContainer a:hover {
    color: #c46766;
}

.navigationContainer span {
    color: #DBDBDB;
}

.lastAnchor {
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    .sectionContainer {
        padding: 0px 5px 5px 10px !important;
    }
}