.sectionContainer{
    margin: auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 64px;
}

@media screen and (max-width: 768px) {
    .sectionContainer {
        padding: 45px 64px;
    }
}

/*
Não é bom utilizar com o nosso componente SectionContainer:

align-items: center;
margin: auto;
*/